:root {
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);
  --text-main-color: rgb(55, 65, 81);
  --text-disable-color: rgb(164, 164, 164);
  --text-error-color: rgb(239, 68, 68);

  --bg-main-color: rgb(85, 173, 155);
  --bg-main-color-50: rgba(85, 173, 155, 0.5);
  --border-main-color: rgb(241, 248, 232);
  --border-hover-color: rgb(216, 239, 211);
  --border-disable-color: rgba(241, 248, 232, 0.5);
  
}
